body {
  background-color: white;
  /* 
    background-color: #2B9D62; */
}

h6 {
  line-height: 1.6;
  font-size: 18px;
}

#teamRandomizer {
  color: black;
}

#teamRandomizer:hover {
  color: #1248f3;
}

#techToolBox {
  color: #e82028;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch label .lever {
  

  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.switch label .lever:after {
  

  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}


.switch label input[type="checkbox"]:checked + .lever {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: .5px;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: .5px;
}
.darkmode {
  padding-left: 65px;
}
#toggle {
  color: black;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Krub", sans-serif;
}
.circles {
  margin-bottom: 200px;
  margin-top: 200px;
}
.textbutton {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 12px;
  /* padding-left: 5px;
      padding-right: 5px; */
  color: white;
  font-weight: bolder;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Krub", sans-serif;
  font-size: 14px;
}

.circleone {
  width: 80px;
  height: 78px;
  background: #1248f3;
  border-radius: 50%;
  /* border-style: solid;
    border-color: #2A9754;
    border-width: 2px; */
  /* border-style: solid;
    border-color:  #FDD349ed;
    border-width: 2px; */
  /* display: none; */
}

.circleone:hover {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  background: #1248f3;
  cursor: pointer;
}

.circletwo {
  width: 80px;
  height: 78px;
  background: #f3b0ae;
  border-radius: 50%;
  /* border-style: solid;
    border-color:  #E82028;
    border-width: 2px; */
  /* display: none; */
}
.circletwo:hover {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  cursor: pointer;
}
.circlethree {
  width: 80px;
  height: 78px;
  /* background: #FDD349ed; */
  background: #f2b705;
  border-radius: 50%;
  /* border-style: solid;
    border-color:  #FDD349ed;
    border-width: 2px; */
  /* display: none; */
}
.circlethree:hover {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  cursor: pointer;
}
.circlefour {
  width: 80px;
  height: 78px;
  background: #e82028;
  border-radius: 50%;
  /* border-style: solid;
    border-color:   #1248F3;
    border-width: 2px; */
  /* display: none; */
}
.circlefour:hover {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  cursor: pointer;
}

#statement {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "Krub", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  cursor: default;
}

.paragraph {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Krub", sans-serif;
  /* font-size: large; */
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: default;
}

#mystory {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 25px;
}

.picturetime {
  height: 150px;
  width: 150px;
  /* float: right; */
  /* margin-left: 10px;
    margin-top: 20px; */
  text-align: center;
}

#mypic {
  height: 150px;
  width: 150px;
  /* float: right; */
  /* margin-left: 10px;
    margin-top: 20px; */
}

.square {
  background-color: #e82028;
}

#myworks {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Krub", sans-serif;

  margin-top: 20px;
}

.card {
  box-shadow: none;
}

@media only screen and (min-width: 700px) {
  .card {
    margin-left: 18vw;
    margin-right: 18vw;
  }

  #mystory {
    margin-left: 18vw;
    margin-right: 18vw;
  }
}

.card-content {
  color: black;
}
.projectheadings {
  font-weight: bold;
  color: #1248f3;
}
.projectrole {
  font-weight: bold;
  color: #2EA662;
}

#socialmedia {
  margin-top: 15px;
}

.fab {
  font-size: 25px;
  width: 30px;

  color: black;
}
.far {
  font-size: 25px;
  width: 30px;
  color: black;
}

#contactme {
  margin-top: 25px;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  cursor: default;
}

#emailmebtn {
  border-style: solid;
  border-color: #1248f3;
  border-width: 2px;
  background-color: white;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Noto Sans TC', 
    sans-serif; */
  font-family: "Krub", sans-serif;
  color: black;
  width: 115px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-transform: none;
  font-size: 12px;
  border-radius: 15px;
}

#emailmebtn:hover {
  background-color: #e82028;
  color: white;
}

.nopics:hover {
  background-color: #f2b705;
  color: #e82028;
}

/* Dark Mode---------------------------------- */

body.dark {
  background-color: black;
}

.dark .circleone {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.dark .circleone:hover {
  border-style: solid;
  border-color: rgb(20, 216, 20);
  border-width: 3px;
  cursor: pointer;
}

.dark .circletwo {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.dark .circletwo:hover {
  border-style: solid;
  border-color: rgb(20, 216, 20);
  border-width: 3px;
  cursor: pointer;
}
.dark .circlethree {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
.dark .circlethree:hover {
  border-style: solid;
  border-color: rgb(20, 216, 20);
  border-width: 3px;
  cursor: pointer;
}
.dark .circlefour {
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
.dark .circlefour:hover {
  border-style: solid;
  border-color: rgb(20, 216, 20);
  border-width: 3px;
  cursor: pointer;
}

.dark #statement {
  color: white;
}

.dark .fab {
  color: white;
}
.dark .far {
  color: white;
}

.dark .paragraph {
  color: white;
}

.dark .card {
  background-color: black;
}

.dark .projectrole {
  color: #2EA662;
}


.dark .projectheadings {
  color: #1248f3;
}
.dark .card-content {
  color: white;
}

.dark .nopics:hover  {
  background-color: #f2b705;
}


.dark #contactme {
  color: white;
}

.dark #emailmebtn {
  border-style: solid;
  border-color: #1248f3;
  border-width: 2px;
  background-color: black;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: "Krub", sans-serif;
  color: white;
  width: 115px;
  margin-top: 20px;
  text-transform: none;
  font-size: 12px;
  border-radius: 15px;
}

.dark #emailmebtn:hover {
  background-color: #e82028;
  color: white;
}

.dark #techToolBox {
  color: #f2b705;
}

.dark #teamRandomizer {
  color: white;
}

.dark #teamRandomizer:hover {
    color: #1248f3;
  }